## Pandas

<div class="alert alert-success">
<a href="https://www.learnpython.org/en/Pandas_Basics#:~:text=Pandas%20is%20a%20high%2Dlevel,observations%20and%20columns%20of%20variables." class="alert-link">Pandas</a> is a Python library providing high-performance data manipulation and analysis tool using its powerful data structures.
</div>

Read the <a href="https://pandas.pydata.org/docs/user_guide/10min.html#min">beginner's guide on pandas</a> and more about its detailed <a href="https://pandas.pydata.org/docs/user_guide/index.html">documentation</a>.

1. Basic pandas structure: series and dataframe
2. Reading and writing files
3. Indexing
4. Dealing with null values
5. Time series
6. Basic pandas operations
    * string methods
    * apply
    * concatenate
    * join
    * groupby
    * agg
    * pivot

#### 1. Basic pandas structure: series and dataframe
series `s = pd.Series(data, index=index)`  
data can be a Python dictionary, Numpy ndarray, or a scalar value  
index can be a list of axis labels

In [1]:
import pandas as pd
import numpy as np

my_series = pd.Series([1, 3, 5, 7, 9])
my_series

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [2]:
dates = pd.date_range('20201012', periods=7, freq='D')
df = pd.DataFrame(np.random.random((7, 4)), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-10-12  0.083481  0.070446  0.481262  0.054720
2020-10-13  0.148810  0.274869  0.600540  0.998101
2020-10-14  0.248637  0.591649  0.953174  0.664619
2020-10-15  0.991517  0.648006  0.439669  0.577895
2020-10-16  0.834481  0.211142  0.177666  0.710925
2020-10-17  0.719902  0.288917  0.237278  0.648493
2020-10-18  0.971470  0.346021  0.755145  0.254033

In [3]:
df2 = pd.DataFrame({'Class': 'ECE 196',
                   'Registered': pd.Timestamp('20210111'),
                   'Waitlist': pd.Series(range(4), dtype='int64'),
                   'Name': pd.Series(['Po', 'Jordan', 'Albert', 'Curtis'])})
df2

     Class Registered  Waitlist    Name
0  ECE 196 2021-01-11         0      Po
1  ECE 196 2021-01-11         1  Jordan
2  ECE 196 2021-01-11         2  Albert
3  ECE 196 2021-01-11         3  Curtis

#### 2. Reading and writing files
There are a ton of different files that you can read and write using pandas. The typical format is `read_<filetype>` to load file and `to_<filetype>` to write file. Read more about <a href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html">I/O documentation</a>.

In [4]:
iris_df = pd.read_csv('../datasets/iris.csv')
iris_df
iris_df.head() # default to first 5 rows
iris_df.tail() # default to last 5 rows

     sepal.length  sepal.width  petal.length  petal.width    variety
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

#### 3. Indexing

In [5]:
iris_df
iris_df.index                                      # return list of index
iris_df.columns                                    # return list of column
iris_df['sepal.length']                            # return series of the label
iris_df[2:30:2]                                    # return dataframe like normal slicing
iris_df.loc[:, ['sepal.length', 'sepal.width']]    # return series located based on label
iris_df.iloc[3]                                    # return series located based on index
iris_df.iloc[:10, :2]                              # can also locate using index slicing
iris_df[iris_df['petal.length'] >= 5]              # return dataframe from boolean indexing
iris_df['flower'] = 'Iris'                         # create new column
iris_df

     sepal.length  sepal.width  petal.length  petal.width    variety flower
0             5.1          3.5           1.4          0.2     Setosa   Iris
1             4.9          3.0           1.4          0.2     Setosa   Iris
2             4.7          3.2           1.3          0.2     Setosa   Iris
3             4.6          3.1           1.5          0.2     Setosa   Iris
4             5.0          3.6           1.4          0.2     Setosa   Iris
..            ...          ...           ...          ...        ...    ...
145           6.7          3.0           5.2          2.3  Virginica   Iris
146           6.3          2.5           5.0          1.9  Virginica   Iris
147           6.5          3.0           5.2          2.0  Virginica   Iris
148           6.2          3.4           5.4          2.3  Virginica   Iris
149           5.9          3.0           5.1          1.8  Virginica   Iris

[150 rows x 6 columns]

#### 4. Dealing with null values
drop the value  
replace the value

In [6]:
df = pd.DataFrame({'First Score':[100, 90, np.nan, 95],
                   'Second Score': [30, 45, 56, np.nan], 
                   'Third Score':[np.nan, 40, 80, 98]}) 
df
df.isnull()                                 # return dataframe with boolean mask
df.dropna(axis=0, how='any', inplace=False) # removed null values based on your specification
df.fillna(value=0)                          # replace null values with new value
df.replace(np.nan, np.inf)                  # replace selected values with new value, supports indexing

   First Score  Second Score  Third Score
0        100.0          30.0          inf
1         90.0          45.0         40.0
2          inf          56.0         80.0
3         95.0           inf         98.0

#### 5. Time series
<center><img src="../media/pandas_time.png" width="900px"></center>

In [7]:
import datetime

pd.Series(pd.to_datetime(['1/1/2021', np.datetime64('2021-01-01'), datetime.datetime(2021, 1, 1)]))
pd.Timestamp(datetime.datetime(2012, 5, 1))
pd.Timestamp('2012-05-01')
pd.Timestamp(2012, 5, 1)

Timestamp('2012-05-01 00:00:00')

In [8]:
pd.Series(pd.date_range('2000', freq='D', periods=3))

0   2000-01-01
1   2000-01-02
2   2000-01-03
dtype: datetime64[ns]

In [9]:
friday = pd.Timestamp('2021-01-08')
friday.day_name()
saturday = friday + pd.Timedelta('1 day')
saturday.day_name()
monday = friday + pd.offsets.BDay()
monday.day_name()

'Monday'

#### 6. Basic pandas operations  
* string methods
* apply
* concatenate
* join
* groupby
* aggregate
* pivot

In [10]:
##### string methods #####
iris_df['flower'].str.lower()
# .str.lower()
# .str.upper()
# .str.strip()
# .str.split()
# .str.replace()

0      iris
1      iris
2      iris
3      iris
4      iris
       ...
145    iris
146    iris
147    iris
148    iris
149    iris
Name: flower, Length: 150, dtype: object

In [11]:
##### apply #####
iris_df.apply(np.cumsum) # applies functions to the entire data, more efficient

,sepal.length,sepal.width,petal.length,petal.width,variety,flower
0,5.1,3.5,1.4,0.2,Setosa,Iris
1,10.0,6.5,2.8,0.4,SetosaSetosa,IrisIris
2,14.7,9.7,4.1,0.6,SetosaSetosaSetosa,IrisIrisIris
3,19.3,12.8,5.6,0.8,SetosaSetosaSetosaSetosa,IrisIrisIrisIris
4,24.3,16.4,7.0,1.0,SetosaSetosaSetosaSetosaSetosa,IrisIrisIrisIrisIris
...,...,...,...,...,...,...
145,851.6,446.7,543.0,171.9,SetosaSetosaSetosaSetosaSetosaSetosaSetosaSeto...,IrisIrisIrisIrisIrisIrisIrisIrisIrisIrisIrisIr...
146,857.9,449.2,548.0,173.8,SetosaSetosaSetosaSetosaSetosaSetosaSetosaSeto...,IrisIrisIrisIrisIrisIrisIrisIrisIrisIrisIrisIr...
147,864.4,452.2,553.2,175.8,SetosaSetosaSetosaSetosaSetosaSetosaSetosaSeto...,IrisIrisIrisIrisIrisIrisIrisIrisIrisIrisIrisIr...
148,870.6,455.6,558.6,178.1,SetosaSetosaSetosaSetosaSetosaSetosaSetosaSeto...,IrisIrisIrisIrisIrisIrisIrisIrisIrisIrisIrisIr...
149,876.5,458.6,563.7,179.9,SetosaSetosaSetosaSetosaSetosaSetosaSetosaSeto...,IrisIrisIrisIrisIrisIrisIrisIrisIrisIrisIrisIr...

In [12]:
##### concatenate #####
pd.concat([iris_df[:5], iris_df[-10:]])

     sepal.length  sepal.width  petal.length  petal.width    variety flower
0             5.1          3.5           1.4          0.2     Setosa   Iris
1             4.9          3.0           1.4          0.2     Setosa   Iris
2             4.7          3.2           1.3          0.2     Setosa   Iris
3             4.6          3.1           1.5          0.2     Setosa   Iris
4             5.0          3.6           1.4          0.2     Setosa   Iris
140           6.7          3.1           5.6          2.4  Virginica   Iris
141           6.9          3.1           5.1          2.3  Virginica   Iris
142           5.8          2.7           5.1          1.9  Virginica   Iris
143           6.8          3.2           5.9          2.3  Virginica   Iris
144           6.7          3.3           5.7          2.5  Virginica   Iris
145           6.7          3.0           5.2          2.3  Virginica   Iris
146           6.3          2.5           5.0          1.9  Virginica   Iris
147           6.5          3.0           5.2          2.0  Virginica   Iris
148           6.2          3.4           5.4          2.3  Virginica   Iris
149           5.9          3.0           5.1          1.8  Virginica   Iris

In [13]:
##### join #####
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
left
right
pd.merge(left, right, on='key') # similar to SQL

   key  lval  rval
0  foo     1     4
1  bar     2     5

In [14]:
##### groupby #####
# split, apply, combine
grouped = iris_df.groupby(by=['variety'], sort=True)
grouped.mean()

            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa             5.006        3.428         1.462        0.246
Versicolor         5.936        2.770         4.260        1.326
Virginica          6.588        2.974         5.552        2.026

In [15]:
##### aggregate #####
df = grouped.agg([np.mean, np.std, np.max, np.min])
for level in df.columns.levels[0]:
    df[level, 'range'] = df[level, 'amax'] - df[level, 'amin']
df.reindex(sorted(df.columns), axis=1)

           petal.length                             petal.width              \
                   amax amin   mean range       std        amax amin   mean
variety
Setosa              1.9  1.0  1.462   0.9  0.173664         0.6  0.1  0.246
Versicolor          5.1  3.0  4.260   2.1  0.469911         1.8  1.0  1.326
Virginica           6.9  4.5  5.552   2.4  0.551895         2.5  1.4  2.026

                           sepal.length                              \
           range       std         amax amin   mean range       std
variety
Setosa       0.5  0.105386          5.8  4.3  5.006   1.5  0.352490
Versicolor   0.8  0.197753          7.0  4.9  5.936   2.1  0.516171
Virginica    1.1  0.274650          7.9  4.9  6.588   3.0  0.635880

           sepal.width
                  amax amin   mean range       std
variety
Setosa             4.4  2.3  3.428   2.1  0.379064
Versicolor         3.4  2.0  2.770   1.4  0.313798
Virginica          3.8  2.2  2.974   1.6  0.322497

In [16]:
##### pivot #####
pd.pivot_table(iris_df, columns=['variety'], aggfunc=np.mean)

variety       Setosa  Versicolor  Virginica
petal.length   1.462       4.260      5.552
petal.width    0.246       1.326      2.026
sepal.length   5.006       5.936      6.588
sepal.width    3.428       2.770      2.974

In [17]:
df = pd.DataFrame({'A': ['one', 'one', 'two', 'three'] * 6,
                   'B': ['A', 'B', 'C'] * 8,
                   'C': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 4,
                   'D': np.random.randn(24),
                   'E': np.random.randn(24),
                   'F': [datetime.datetime(2013, i, 1) for i in range(1, 13)]
                   + [datetime.datetime(2013, i, 15) for i in range(1, 13)]})
df.head()

       A  B    C         D         E          F
0    one  A  foo -0.208464  1.266111 2013-01-01
1    one  B  foo -1.036830 -0.108890 2013-02-01
2    two  C  foo -0.989639  0.918625 2013-03-01
3  three  A  bar  0.249602  0.745501 2013-04-01
4    one  B  bar  0.026056  1.424737 2013-05-01

In [18]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

C             bar       foo
A     B
one   A  1.702673 -0.354122
      B  0.055101 -1.155059
      C -0.752115 -0.470217
three A -0.101695       NaN
      B       NaN  0.170043
      C  0.679038       NaN
two   A       NaN  0.814641
      B  0.158680       NaN
      C       NaN  0.019748

In [19]:
pd.pivot_table(df, values='D', index=['B'], columns=['A', 'C'], aggfunc=np.sum)

A       one               three                 two
C       bar       foo       bar       foo       bar       foo
B
A  3.405346 -0.708243 -0.203390       NaN       NaN  1.629282
B  0.110203 -2.310118       NaN  0.340087  0.317361       NaN
C -1.504230 -0.940435  1.358077       NaN       NaN  0.039495

In [20]:
pd.pivot_table(df, values=['D', 'E'], index=['B'], columns=['A', 'C'], aggfunc=np.sum)

          D                                                           E  \
A       one               three                 two                 one
C       bar       foo       bar       foo       bar       foo       bar
B
A  3.405346 -0.708243 -0.203390       NaN       NaN  1.629282 -0.418088
B  0.110203 -2.310118       NaN  0.340087  0.317361       NaN -1.135568
C -1.504230 -0.940435  1.358077       NaN       NaN  0.039495  0.458847


A               three                 two
C       foo       bar       foo       bar       foo
B
A  0.992194  1.811228       NaN       NaN -2.029708
B -0.405821       NaN  1.810494 -0.273059       NaN
C  0.641307  0.119235       NaN       NaN -0.053296